n8n/gmail-ai-auto-labeler/workflow.json
{
  "name": "Gmail AI Auto-Labeler",
  "nodes": [
    {
      "id": "c1c2c3d4-0000-4000-8000-000000000001",
      "name": "Setup notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        -40
      ],
      "parameters": {
        "width": 300,
        "height": 460,
        "content": "## Gmail AI auto-labeler\nAI reads every unread email and files it under one of six labels. Anything it can't place lands in AI_UNSORTED so misfires stay visible.\n\nSetup:\n1. Create these labels in Gmail first:\n   INVOICE, BANKING, ACTION_REQUIRED, NEWSLETTER, NOTIFICATION, PERSONAL, AI_UNSORTED\n2. Gmail Trigger: attach a Gmail OAuth2 credential\n3. Classify with AI: free API key from aistudio.google.com, saved as a Google Gemini(PaLM) Api credential. No card needed\n4. Each Label node: attach the same Gmail credential, then pick the matching label from the dropdown\n5. Send yourself a test email and hit Execute Workflow\n\nFull walkthrough is in the README next to this file."
      }
    },
    {
      "id": "c1c2c3d4-0000-4000-8000-000000000002",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        700,
        320
      ],
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "notes": "Polls every minute for unread mail. Add a q filter here if you only want to label certain senders."
    },
    {
      "id": "c1c2c3d4-0000-4000-8000-000000000003",
      "name": "Classify with AI",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        960,
        320
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000,
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "models/gemma-4-26b-a4b-it",
          "mode": "list",
          "cachedResultName": "gemma-4-26b-a4b-it"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an email classifier. Classify the email below into EXACTLY ONE of these categories:\n\nINVOICE - bills, receipts, payment requests, purchase orders\nBANKING - bank statements, transaction alerts, OTP codes, card and account notices\nACTION_REQUIRED - a person is waiting on a reply or a task from me\nNEWSLETTER - marketing, digests, promos, cold outreach, anything with an unsubscribe link\nNOTIFICATION - automated alerts and confirmations that need no reply\nPERSONAL - friends and family\n\nReply with ONLY the category name, nothing else.\n\nFrom: {{ $json.from?.value?.[0]?.address ?? '' }}\nSubject: {{ $json.subject }}\nBody: {{ ($json.text || '').substring(0, 1500) }}"
            }
          ]
        },
        "options": {}
      },
      "notes": "Free tier model. Swap the category list in the prompt to change your labels, then mirror the change in the Switch node."
    },
    {
      "id": "c1c2c3d4-0000-4000-8000-000000000004",
      "name": "Route by category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1240,
        320
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.content.parts.filter(p => !p.thought).pop().text.trim().toUpperCase().replace(/[^A-Z_ -]/g, '').trim().replace(/[ -]+/g, '_') }}",
                    "rightValue": "INVOICE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INVOICE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.content.parts.filter(p => !p.thought).pop().text.trim().toUpperCase().replace(/[^A-Z_ -]/g, '').trim().replace(/[ -]+/g, '_') }}",
                    "rightValue": "BANKING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BANKING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.content.parts.filter(p => !p.thought).pop().text.trim().toUpperCase().replace(/[^A-Z_ -]/g, '').trim().replace(/[ -]+/g, '_') }}",
                    "rightValue": "ACTION_REQUIRED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ACTION_REQUIRED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r4",
                    "leftValue": "={{ $json.content.parts.filter(p => !p.thought).pop().text.trim().toUpperCase().replace(/[^A-Z_ -]/g, '').trim().replace(/[ -]+/g, '_') }}",
                    "rightValue": "NEWSLETTER",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NEWSLETTER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r5",
                    "leftValue": "={{ $json.content.parts.filter(p => !p.thought).pop().text.trim().toUpperCase().replace(/[^A-Z_ -]/g, '').trim().replace(/[ -]+/g, '_') }}",
                    "rightValue": "NOTIFICATION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NOTIFICATION"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r6",
                    "leftValue": "={{ $json.content.parts.filter(p => !p.thought).pop().text.trim().toUpperCase().replace(/[^A-Z_ -]/g, '').trim().replace(/[ -]+/g, '_') }}",
                    "rightValue": "PERSONAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PERSONAL"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "AI_UNSORTED"
        }
      },
      "notes": "One branch per category plus a fallback. The expression skips 'thought' parts so thinking models work too. If you edit categories in the AI prompt, edit them here as well."
    },
    {
      "id": "c1c2c3d4-0000-4000-8000-000000000005",
      "name": "Label: INVOICE",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1560,
        -40
      ],
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": []
      },
      "notes": "Attach your Gmail credential, then pick the INVOICE label from the dropdown."
    },
    {
      "id": "c1c2c3d4-0000-4000-8000-000000000006",
      "name": "Label: BANKING",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1560,
        80
      ],
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": []
      },
      "notes": "Attach your Gmail credential, then pick the BANKING label from the dropdown."
    },
    {
      "id": "c1c2c3d4-0000-4000-8000-000000000007",
      "name": "Label: ACTION_REQUIRED",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1560,
        200
      ],
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": []
      },
      "notes": "Attach your Gmail credential, then pick the ACTION_REQUIRED label from the dropdown."
    },
    {
      "id": "c1c2c3d4-0000-4000-8000-000000000008",
      "name": "Label: NEWSLETTER",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1560,
        320
      ],
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": []
      },
      "notes": "Attach your Gmail credential, then pick the NEWSLETTER label from the dropdown."
    },
    {
      "id": "c1c2c3d4-0000-4000-8000-000000000009",
      "name": "Label: NOTIFICATION",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1560,
        440
      ],
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": []
      },
      "notes": "Attach your Gmail credential, then pick the NOTIFICATION label from the dropdown."
    },
    {
      "id": "c1c2c3d4-0000-4000-8000-000000000010",
      "name": "Label: PERSONAL",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1560,
        560
      ],
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": []
      },
      "notes": "Attach your Gmail credential, then pick the PERSONAL label from the dropdown."
    },
    {
      "id": "c1c2c3d4-0000-4000-8000-000000000011",
      "name": "Label: AI_UNSORTED",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1560,
        680
      ],
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": []
      },
      "notes": "Fallback bucket. Attach your Gmail credential, then pick the AI_UNSORTED label from the dropdown."
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Classify with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify with AI": {
      "main": [
        [
          {
            "node": "Route by category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by category": {
      "main": [
        [
          {
            "node": "Label: INVOICE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label: BANKING",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label: ACTION_REQUIRED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label: NEWSLETTER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label: NOTIFICATION",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label: PERSONAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label: AI_UNSORTED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {}
}