n8n/ai-bill-extractor/workflow.json
{
 "name": "AI Utility Bill Extractor",
 "nodes": [
  {
   "id": "b1b2c3d4-0000-4000-8000-000000000001",
   "name": "Setup notes",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    200,
    180
   ],
   "parameters": {
    "content": "## AI Utility Bill Extractor (100% free stack)\nGmail → Gemini AI extraction → Google Sheets. Fully generic — works with any utility/service bill email.\n\n### Setup\n1. **Gmail Trigger**: attach a Gmail OAuth2 credential, then edit the search filter to match your bill emails (e.g. `subject:\"Utility Bill\"` or `from:billing@yourprovider.com`)\n2. **Extract with AI**: get a FREE API key at aistudio.google.com → attach it as a 'Google Gemini(PaLM) Api' credential. Free tier, no card needed\n3. Create a Google Sheet with headers in row 1:\n   `Account_No | Billing_Period | Due_Date | Amount_Due | Bill_URL | Delivered_To`\n   in a tab named `Bills`\n4. **Append to Sheet**: attach a Google Sheets credential and pick your sheet\n5. Test: send yourself a bill-style email, then Execute Workflow",
    "width": 420,
    "height": 400,
    "color": 4
   }
  },
  {
   "id": "b1b2c3d4-0000-4000-8000-000000000002",
   "name": "Gmail Trigger",
   "type": "n8n-nodes-base.gmailTrigger",
   "typeVersion": 1.2,
   "position": [
    700,
    320
   ],
   "parameters": {
    "pollTimes": {
     "item": [
      {
       "mode": "everyMinute"
      }
     ]
    },
    "simple": false,
    "filters": {
     "q": "subject:\"YOUR BILL SUBJECT\""
    },
    "options": {}
   },
   "notes": "Edit the search query to match your billing emails"
  },
  {
   "id": "b1b2c3d4-0000-4000-8000-000000000003",
   "name": "Extract with AI",
   "type": "@n8n/n8n-nodes-langchain.googleGemini",
   "typeVersion": 1,
   "position": [
    960,
    320
   ],
   "retryOnFail": true,
   "maxTries": 4,
   "waitBetweenTries": 5000,
   "parameters": {
    "resource": "text",
    "operation": "message",
    "modelId": {
     "__rl": true,
     "value": "models/gemma-4-26b-a4b-it",
     "mode": "list",
     "cachedResultName": "gemma-4-26b-a4b-it"
    },
    "messages": {
     "values": [
      {
       "content": "=Extract the following fields from this utility bill email and return ONLY a JSON object with exactly these keys:\n\n- Account_No: the customer/account number (often shown after \"A/C\", \"Account number\" or similar)\n- Billing_Period: the billing month or period (e.g. \"July-2025\")\n- Due_Date: the payment due date exactly as written (e.g. \"04/08/2025\")\n- Amount_Due: the total amount due including currency if shown\n- Bill_URL: the URL of the link whose text is \"VIEW BILL\", \"Download bill\" or similar\n\nIf a field is not found, use an empty string. Return ONLY the JSON object, no extra text.\n\nEmail subject: {{ $json.subject }}\nEmail body (text): {{ $json.text }}\nEmail body (HTML): {{ $json.html }}"
      }
     ]
    },
    "jsonOutput": true,
    "options": {}
   }
  },
  {
   "id": "b1b2c3d4-0000-4000-8000-000000000004",
   "name": "Fields",
   "type": "n8n-nodes-base.set",
   "typeVersion": 3.4,
   "position": [
    1220,
    320
   ],
   "parameters": {
    "assignments": {
     "assignments": [
      {
       "id": "f1",
       "name": "Account_No",
       "value": "={{ JSON.parse($json.content.parts[0].text.match(/```json\\s*([\\s\\S]*?)```/)?.[1] ?? $json.content.parts[0].text.match(/\\{[\\s\\S]*\\}/)?.[0] ?? '{}').Account_No ?? '' }}",
       "type": "string"
      },
      {
       "id": "f2",
       "name": "Billing_Period",
       "value": "={{ JSON.parse($json.content.parts[0].text.match(/```json\\s*([\\s\\S]*?)```/)?.[1] ?? $json.content.parts[0].text.match(/\\{[\\s\\S]*\\}/)?.[0] ?? '{}').Billing_Period ?? '' }}",
       "type": "string"
      },
      {
       "id": "f3",
       "name": "Due_Date",
       "value": "={{ JSON.parse($json.content.parts[0].text.match(/```json\\s*([\\s\\S]*?)```/)?.[1] ?? $json.content.parts[0].text.match(/\\{[\\s\\S]*\\}/)?.[0] ?? '{}').Due_Date ?? '' }}",
       "type": "string"
      },
      {
       "id": "f4",
       "name": "Amount_Due",
       "value": "={{ JSON.parse($json.content.parts[0].text.match(/```json\\s*([\\s\\S]*?)```/)?.[1] ?? $json.content.parts[0].text.match(/\\{[\\s\\S]*\\}/)?.[0] ?? '{}').Amount_Due ?? '' }}",
       "type": "string"
      },
      {
       "id": "f5",
       "name": "Bill_URL",
       "value": "={{ JSON.parse($json.content.parts[0].text.match(/```json\\s*([\\s\\S]*?)```/)?.[1] ?? $json.content.parts[0].text.match(/\\{[\\s\\S]*\\}/)?.[0] ?? '{}').Bill_URL ?? '' }}",
       "type": "string"
      },
      {
       "id": "f6",
       "name": "Delivered_To",
       "value": "={{ $('Gmail Trigger').item.json.to?.value?.[0]?.address ?? '' }}",
       "type": "string"
      }
     ]
    },
    "options": {}
   }
  },
  {
   "id": "b1b2c3d4-0000-4000-8000-000000000005",
   "name": "Append to Sheet",
   "type": "n8n-nodes-base.googleSheets",
   "typeVersion": 4.5,
   "position": [
    1480,
    320
   ],
   "parameters": {
    "operation": "append",
    "documentId": {
     "__rl": true,
     "value": "",
     "mode": "list"
    },
    "sheetName": {
     "__rl": true,
     "value": "Bills",
     "mode": "name"
    },
    "columns": {
     "mappingMode": "autoMapInputData",
     "value": {},
     "matchingColumns": [],
     "schema": []
    },
    "options": {}
   },
   "notes": "Pick your sheet after attaching the credential. Sheet headers must match the Fields node names for auto-mapping"
  }
 ],
 "connections": {
  "Gmail Trigger": {
   "main": [
    [
     {
      "node": "Extract with AI",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Extract with AI": {
   "main": [
    [
     {
      "node": "Fields",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fields": {
   "main": [
    [
     {
      "node": "Append to Sheet",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1"
 },
 "active": false,
 "pinData": {}
}